{% extends 'base.html' %}

{% block title %}
изменения паркинга
{% endblock %}

{% block content %}
<h1> Добовление техники на парковку</h1>

<form method="POST" class="form-control">


    <select name="status" class="form-control" required>
        <option value="" disabled selected>Выберите статус</option>
        {% for availability_options in availability_options %}
            <option value="{{ availability_options }}">{{ availability_options }}</option>
        {% endfor %}
    </select>
   <select name="id_equipment" class="form-control" required>
        <option value="" disabled selected>Выберите технику</option>
        {% for tehnik in tehnik %}
            <option value="{{ tehnik.id_spare }}">{{ tehnik.name }}</option>
        {% endfor %}
    </select>

    <button class="button" type="submit"> добавить </button>

</form>
{% endblock %}